@import "tailwindcss";
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  max-height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.custom-popover .ant-popover-inner {
  margin-top: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  background-color: white;
  padding: 18px;
}

/* header */
@keyframes fadeInTop {
  from {
    opacity: 1;
    transform: translateY(-10px); /* start above */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* final position */
  }
}

.animate-fade-in-top {
  animation: fadeInTop 0.5s ease-out forwards; /* adjust duration if needed */
}
