@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  max-height: 100%;
}

.custom-popover .ant-popover-inner {
  margin-top: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 14px;
  background-color: white;
  padding: 18px;
}

@keyframes fadeSlideSlow {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-slow {
  animation: fadeSlideSlow 0.7s ease-out forwards;
}
